<{* $Id: webmap3_admin_location.html,v 1.1 2012/03/17 09:28:52 ohwada Exp $ *}>

<{$gicon_js}>

<{if $show_default_css }>
  <link href="<{$xoops_url}>/modules/<{$xoops_dirname}>/include/default.css" type="text/css" rel="stylesheet"/>
<{/if}>

<iframe src="<{$xoops_url}>/modules/<{$xoops_dirname}>/index.php?fct=get_location" 
	width="<{$map_width}>" height="<{$map_height}>" frameborder="0" scrolling="yes" >
<{$lang_iframe_not_support}>
</iframe>

<form action="#" method="post">
<input type="hidden" name="op" value="edit" />
<input type="hidden" name="XOOPS_G_TICKET" value="<{$ticket}>" />
<table width='100%' class='outer' cellspacing='1'>
<tr>
	<th colspan='2'><{$lang_conf_location}></th>
</tr>
<tr>
	<td class="head"><{$lang_latitude}></td>
	<td class="even">
		<{$latitude}><br />
		<input type="text" id="webmap3_latitude" name="webmap3_latitude" value="<{$latitude}>" size="50" />
	</td>
</tr>
<tr>
	<td class="head"><{ $lang_latitude}></td>
	<td class="even">
		<{$longitude}><br />
		<input type="text" id="webmap3_longitude" name="webmap3_longitude" value="<{$longitude}>" size="50" />
	</td>
</tr>
<tr>
	<td class="head"><{$lang_zoom}></td>
	<td class="even">
		<{$zoom}><br />
		<input type="text" id="webmap3_zoom" name="webmap3_zoom" value="<{$zoom}>" size="50" />
	</td>
</tr>
<tr>
	<td class="head"></td>
	<td class="even"><input type="submit" value="<{$lang_edit}>" /></td>
</tr>
</table>
</form>
<br />

<form action="#" method="post">
<input type="hidden" name="op" value="edit" />
<input type="hidden" name="XOOPS_G_TICKET" value="<{$ticket}>" />
<table width='100%' class='outer' cellspacing='1'>
<tr>
	<th colspan='2'><{$lang_conf_address}></th>
</tr>
<tr>
	<td class="head"><{$lang_address}></td>
	<td class="even">
		<{$address_s}><br />
		<input type="text" id="webmap3_address" name="webmap3_address" value="<{$address_s}>" size="50" />
	</td>
</tr>
<tr>
	<td class="head"></td>
	<td class="even"><input type="submit" value="<{$lang_edit}>" /></td>
</tr>
</table>
</form>
<br />

<form action="#" method="post">
<input type="hidden" name="op" value="edit" />
<input type="hidden" name="XOOPS_G_TICKET" value="<{$ticket}>" />
<table width='100%' class='outer' cellspacing='1'>
<tr>
	<th colspan='2'><{$lang_conf_icon}></th>
</tr>
</tr>
	<td class="head"><{$lang_icon_select}></td>
	<td class="even">
		<select name="webmap3_gicon_id" id="webmap3_gicon_id" onChange="webmap3_gicon_onchange(this,'webmap3_gicon_img')">
		<{$gicon_id_options}>
		</select><br />
		<img id="webmap3_gicon_img" src="<{$gicon_img_src}>" />
	</td>
</tr>
<tr>
	<td class="head"></td>
	<td class="even"><input type="submit" value="<{$lang_edit}>" /></td>
</tr>
</table>
</form>
<br />

<hr />
<div style="text-align: right; font-size: 80%;">
<a href="http://linux2.ohwada.net/" target="_blank">
Powered by Happy Linux
</a><br />
&copy; 2007, Kenichi OHWADA<br />
</div>
