<{* $Id: webmap3_main_georss.html,v 1.1 2012/03/17 09:28:52 ohwada Exp $ *}>

<{if $show_default_css }>
  <link href="<{$xoops_url}>/modules/<{$xoops_dirname}>/libs/default.css" type="text/css" rel="stylesheet"/>
<{/if}>

<{* === gmap js === *}>
<{$map_js}>

<h3 align='center'><{$module_name}></h3>
<a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/index.php">[<{$lang_title_search}>]</a> 
<a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/index.php?fct=location">[<{$lang_title_location}>]</a> 
<a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/index.php?fct=georss">[<{$lang_title_georss}>]</a> 

<h4><{$lang_title_georss}></h4>
<{$lang_title_georss_desc}><br /><br />

<noscript>
  <div class="webmap3_error"><{$lang_js_invalid}></div>
</noscript>

<a href="<{$geo_url_s}>" target="_blank" >
<img src="<{$xoops_url}>/modules/<{$xoops_dirname}>/images/rss.png" alt="<{$geo_title_s}>"></a> 
<b><{$geo_title_s}></b> <br /><br />

<div id="<{$element_map}>" class="webmap3_map">Loading ...</div>
<br />

<{if $is_module_admin }>
	<br /><hr />
	<a href="./admin/index.php">go to admin cp</a>
<{/if}>
